---
import PostPreview from "../components/PostPreview.astro";
import Titulo from "../components/Titulo.astro";
import LayoutPost from "../layouts/LayoutPost.astro";

const posts = await Astro.glob("./posts/*.md");
---

<LayoutPost title="Blog">
    <section>
        <Titulo title="Ultimas noticias" />
        {posts.map((post) => <PostPreview post={post} />)}
    </section>
</LayoutPost>
