---
import FaqItem from "../components/FaqItem.astro";
import Titulo from "../components/Titulo.astro";
import LayoutPost from "../layouts/LayoutPost.astro";
import faqs from "../types/faqsData";
---

<LayoutPost title="FAQ">
  <section>
    <Titulo title="Preguntas Frecuentes" />

    {faqs.map((f) => <FaqItem item={f} />)}
  </section>
</LayoutPost>

<style>
  section {
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
</style>