---
import HeaderComponent from '../components/HeaderComponent.astro';
import SiteContent from '../components/SiteContent.Component.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Home">
	<HeaderComponent/>
	<SiteContent/>
</Layout>
