---
import menuItems from "../data/manuItemData";
---

<ul>
    {
        menuItems.map(({ icon, title, url }) => (
            <li>
                <a href={url}> {title}</a>
            </li>
            // <MenuItemView icon={icon} title={title} url={url} />
        ))
    }
</ul>
<img class="nav-bar" src="/assets/bar-left.png" alt="navbar" />

<style>
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 5px;
        width: 33%;
        z-index: 100;
        position: relative;
        margin-bottom: -108px;
        background-image: url(../../assets/nav-bar-bg-left.webp);
        background: linear-gradient(
            90deg,
            rgba(23, 47, 73, 0.5),
            rgba(23, 47, 73, 0.5) 58%,
            rgba(23, 47, 73, 0)
        );
        background-repeat: no-repeat;
    }

    .nav-bar {
        position: relative;
        top: 97px;
        z-index: 100;
        width: 33%;
    }

    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li a {
        font-size: 20px;
        display: block;
        padding: 30px 40px;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
    }
    li a:hover {
        color: orange;
        transform: scale(1.15);
    }

    img {
        width: 32px;
    }
</style>
