---
import CardsView from "./react/CardView";

const cards = [
    {
        title: "Explore an Open World",
        image: "/assets/game-info-panel-01.jpg",
        description:
            "The wizarding world awaits you. Freely roam Hogwarts, Hogsmeade, the Forbidden Forest, and the surrounding Overland area.",
    },
    {
        title: "Be the Witch or Wizard You Want to be",
        image: "/assets/game-info-panel-02.jpg",
        description:
            "Learn spells, brew potions, grow plants, and tend to magical beasts along your journey. Get sorted into your house, forge relationships, and master skills to become the witch or wizard you want to be.",
    },
    {
        title: "Experience a New Wizarding World Adventure",
        image: "/assets/game-info-panel-03.jpg",
        description:
            "Experience the wizarding world in an unexplored era to uncover a hidden truth from its past. Battle against trolls, Dark Wizards, goblins, and more as you face a dangerous villain threatening the fate of the wizarding world.",
    },
    {
        title: "TITLE 4",
        image: "/assets/game-info-panel-01.jpg",
        description: "descripcion 4",
    },
    {
        title: "TITLE 5",
        image: "/assets/game-info-panel-01.jpg",
        description: "descripcion 5",
    },
];
---

<section>
    <div class="trailer">
        <img src="/assets/launch-trailer.jpg" alt="" />
    </div>
    <div class="description">
        Hogwarts Legacy is an immersive, open-world action RPG set in the world
        first introduced in the Harry Potter books. For the first time,
        experience Hogwarts in the 1800s. Your character is a student who holds
        the key to an ancient secret that threatens to tear the wizarding world
        apart. Now you can take control of the action and be at the center of
        your own adventure in the wizarding world. Your legacy is what you make
        of it.
    </div>

    <div class="cardsContainer">
        <CardsView cards={cards} client:load />
    </div>
</section>

<style>
    section {
        width: 70%;
        margin: 0 auto;
        color: white;
    }
    .trailer {
    }
    .description {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }
    img {
        width: 100%;
    }
</style>
