---
import NavComponet from "../components/NavComponet.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
// const {frontmatter} = Astro.props;


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<NavComponet />
		<div class="container">
			<div class="logo">
				<img src="/assets/hero-logo.webp" width="400" alt="" />
			</div>
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		font-family: "Crimson Text", serif;
		background-image: url(../../assets/bg.webp);
		margin: 0;
		min-height: 100vh;
		color: white;
		font-size: 18px;
	}
	.container a {
		color: rgb(255, 179, 0);
	}

	.container {
		margin-top: 120px;
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.logo {
		text-align: center;
		position: relative;
		top: -100px;
		margin-bottom: -50px;
	}

	p img {
		width: 100%;
	}
</style>
